/* Backgroung image - code adapted from: https://softauthor.com/css-make-background-image-full-screen/ */
html {
  /* One font used for whole site so put straight into html CSS */
  font-family: 'Ubuntu', sans-serif;
  min-height: 100%;
  background-image: url('../images/planet-earth-background.jpg');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Global properties */


.top-heading {
  margin: auto;
  width: 50%;
  padding: 30px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  position: relative;
  top: 50px;
  clear: both;
  margin-bottom: 10%;
}

h2 {
  font-size: 2rem;
}

.lalign {
  text-align: left;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

/* Button CSS */

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.submit {
  width: 220px;
  height: 60px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: white;
  margin-bottom: 25px;
  background-color: #0d1013;
  border: 1px transparent;
  border-radius: 20px;
}

.submit:active,
.submit:hover {
  background-color: #445361;
}

/* Sections CSS */

/* CSS apapted from Love Maths walkthrough project */
#intro-area,
#question-area,
#incorrect-outcome-area,
#correct-outcome-area {
  background-color: #E6ECF0;
  box-sizing: border-box;
  width: 85%;
  max-height: 100%;
  max-width: 830px;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
}

/* Section CSS continued */
#game-title {
  text-align: center;
}

#intro-text {
  font-size: 1.2rem;
}

.intro-title {
  text-align: center;
  text-transform: uppercase;
}

.red {
  color: red;
}

.green {
  color: green;
}



/* Table CSS for quiz */
table,
th,
td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
}

#question-table {
  box-sizing: border-box;
  background-color: white;
  padding: 1%;
}

/* CSS for quiz outcome sections */

#incorrect-outcome {
  width: 100%;
  height: 100%;
}

#correct-outcome {
  width: 100%;
  height: 100%;
}

